git config --global user.emailnode_modules
.dendron.*
build
docs
.next
.history
.backup
.gitignore
# private stuff
vault/journal.temporary.md
vault/interviews.Negotiation.md
vault/interviews.Talk with recruiters.md
vault/interviews.Self Evaluation.md